@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.feedContainer {
    height: 93vh;
    width: 50%;
    margin-top: 64px;
    padding-left: 2em;
    overflow-y: scroll;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 400px;
    width: 250px;
    border-style: solid;
}

.cardTitle {
    font-family: 'Open Sans';
    font-size: 1.25em;
    overflow: auto;
    padding: 5px;
}

.cardPrice {
    font-family: 'Open Sans';
    font-size: 1.25em;
    font-weight: bold;
    padding: 5px;
}

.cardMeta {
    font-family: 'Open Sans';
    font-size: 1em;
    color:  #626262;
    padding: 5px;
}

::-webkit-scrollbar {
    display: none;
}