@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.feedContainer {
    margin: 0;
    padding: 0;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 25em;
    width: 15em;
}

.itemContainer:hover {
    transform: scale3d(1.05, 1.05, 1);
}

.cardTitle {
    font-family: 'Open Sans';
    font-size: 1em;
    overflow: auto;
    padding: 5px;
}

.cardPrice {
    font-family: 'Open Sans';
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
}

.cardMeta {
    font-family: 'Open Sans';
    font-size: .8em;
    color:  #626262;
    padding: 5px;
}

.feed-tabs {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.feed-tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-weight: normal;
    color: black;
    background-color: white;
}

.feed-tab.active {
    font-weight: bold;
    border-bottom: 2px solid blue;
}

.feed-content {
    background-color: white;
    padding: 10px 20px;
}
