@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.wrap {
    position: sticky;
    top: 100px;
    height: 70vh;
    padding-right: 50px;
    overflow-y: scroll;
}

.wrap::-webkit-scrollbar {
    display: none;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding: 10px;
    overflow-y: auto;
}

.filterContainer::-webkit-scrollbar {
    display: none;
}

.filterTitle {
    font-size: .8em;
    font-family: 'Open Sans';
    font-weight: bold;
    /* letter-spacing: .1em; */
    margin-top: 1em;
}

.filterOption {
    font-size: .8em;
    font-family: 'Open Sans';
    /* letter-spacing: .1em; */
}

.priceRangeContainer {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.priceRangeSeparator {
    font-family: 'Open Sans';
    font-size: 2em;
    margin: .2em;
}

.filterSlider {
    margin-bottom: 2em;
}