@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.filterContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 15%;
}

.containerTitle {
    font-size: 0.5em;
    font-family: 'Open Sans';
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.filterTitle {
    font-family: 'Open Sans';
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filterOption {
    font-family: 'Open Sans';
    letter-spacing: 2px;
}

.priceRangeContainer {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.priceRangeSeparator {
    font-family: 'Open Sans';
    font-size: 20px;
    margin: 10px;
}