@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.filterContainer {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    margin-top: 64px;
    margin-bottom: 2em;
}

.containerTitle {
    font-size: 1em;
    font-family: 'Open Sans';
    font-weight: bold;
    letter-spacing: .1em;
    margin-top: 2em;
}

.filterTitle {
    font-size: .8em;
    font-family: 'Open Sans';
    font-weight: bold;
    letter-spacing: .1em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.filterOption {
    font-size: .8em;
    font-family: 'Open Sans';
    letter-spacing: .1em;
}

.priceRangeContainer {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.priceRangeSeparator {
    font-family: 'Open Sans';
    font-size: 2em;
    margin: .2em;
}