@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.appLanding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appLogo {
  height: 35vh;
}

.appWave {
  height: 20vh;
}

.appForm {
  background-color: #a9a9a9;
  width: 100%;
  min-height: 45vh;
  text-align: center;
}

.formTitle {
  color: #56585a;
  font-family: 'Open Sans';
  font-weight: 300;
  margin-bottom: 2em;
}

.formTitleLink {
  color: #56585a;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 1.5em;
  margin: 0 10px;
  cursor: pointer;
}

.formTitleLink-Active {
  color: white;
  border-bottom: 1px solid #0F52BA;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 1.5em;
  margin: 0 10px;
  cursor: pointer;
}

.signUpFields {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.inputFields {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  justify-content: center;
  align-items: center;
}

.inputField {
  width: 250px;
}

.checkBoxFields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.checkBoxText {
  color: #56585a;
}

.checkBoxTermsLink {
  color: white;
  border-bottom: 1px solid #0F52BA;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.modalBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  border: 2px solid;
  box-shadow: 5px 5px 5px #a9a9a9;
  padding: 10px;
}

.submitField {
  margin-top: 1em;
}

.submitButton {
  background-color: #0F52BA;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: .8em 3em;
  margin-right: 20px;
  font-family: 'Open Sans';
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
}

.submitFieldLink {
  color: white;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #0F52BA;
  padding-bottom: 5px;
  font-family: 'Open Sans';
  cursor: pointer;
}