@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.appBarLogo {  
    max-height: 75%;
}

.navBar {
    background-color: white;
}

.navBar-Center {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 1em;
    letter-spacing: .1em;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: white;
    padding-right: 40px;
}

.input-search::placeholder {
    font-family: 'Open Sans';
    font-size: 1em;
    letter-spacing: .1em;
    font-weight: 100;
}

.btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    background-color: transparent;
    pointer-events: painted;  
}

.btn-search:focus ~ .input-search {
    width: 350px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 350px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.navBar-Right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar-Button {
    background-color: #FFFFFF;
    color: black;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 1em;
    letter-spacing: .1em;
    margin-left: 2em;
    border: 0;
    cursor: pointer;
}

.navBar-Button:hover {
    color: black;
}

.avatarIcon {
    color: #0079FF;
    margin-left: 1em;
}

.hamburger {
    color: black;
    display: none !important;
}

@media (max-width: 485px) {
    .input-search:focus {
      width: 350px;
      border-radius: 0px;
      background-color: transparent;
      border-bottom: 1px solid black;
      transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
    .input-search:focus ~ .appBarLogo,
    .input-search:focus ~ .navBar-Right {
      display: none;
    }
}

@media (max-width: 485px) {
    .navBar-Button, .avatarIcon {
        display: none !important;
    }
    .hamburger {
        display: block !important;
    }
  }

