@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  /*overflow-y: auto;*/
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}